description = 'SNP caller from bisulphite sequence data.'
nextflowVersion = '22.04.0'
process.executor = 'slurm'  //Allows to execute pipeline with SLURM. Comment out if not running on HPC with SLURM scheduler.

/* Change SLURM parameters according to your analysis
 Example on how to use clusterOptions:  clusterOptions = '-q default -t 00:30:00 -C cpu' or clusterOptions = '--qos=default --time=00:30:00'
 Ensure between each option there is a space. See the examples above or link: https://t-neumann.github.io/pipelines/Nextflow-pipeline/  
*/

custom_options="--qos=bbdefault"

/*
Next options allow to tune memory requirements and time available for each process.
More parameters can be can be changed, see documentation for (Scope executor): https://www.nextflow.io/docs/latest/config.html 
*/

process{
    withName: FAST_QC{
        memory= 20.GB
        time= '1h'
        clusterOptions="${custom_options}"
    }

    withName: TRIM{
        memory= 20.GB
        time= '1h'
        clusterOptions="${custom_options}"
    }

    withName: INDEX{
        memory = 100.GB
        time = '1day'
        clusterOptions="${custom_options}"
    }

    withName: ALIGNMENT{
        memory= 100.GB
        time= '3day'
        clusterOptions="${custom_options}"
    }

     withName: PICARD{
        memory= 60.GB
        time= '1day'
        clusterOptions="${custom_options}"
    }

     withName: SORTING{
        memory= 50.GB
        time= '1day'
        clusterOptions="${custom_options}"
    }

    withName: BIS_SNP{
        memory= 50.GB
        time= '1day'
        clusterOptions="${custom_options}"
    }

     withName: CGMAP_PREP{
        memory= 50.GB
        time= '2day'
        clusterOptions="${custom_options}"
    }

    withName: CGMAP_TOOLS{
        memory= 50.GB
        time= '2day'
        clusterOptions="${custom_options}"
    }

}
