description = 'SNP caller from bisulphite sequence data.'
nextflowVersion = '22.04.0'
process.executor = 'slurm'  // Comment out if not running on HPC with SLURM scheduler.

// Change SLURM parameters according to your analysis 
custom_options="--qos=bbdefault"


// Example on how to use clusterOptions:  clusterOptions = '-q default -t 00:30:00 -C cpu' or clusterOptions = '--qos=default --time=00:30:00'

process{
    withName: FAST_QC{
        memory= 20.GB
        time= '1h'
        clusterOptions=${custom_options}
    }

    withName: TRIM{
        memory= 20.GB
        time= '1h'
        clusterOptions=${custom_options}
    }

    withName: INDEX{
        memory = 100.GB
        time = '1day'
        clusterOptions=${custom_options}
    }

    withName: ALIGNMENT{
        memory= 100.GB
        time= '1day'
        clusterOptions=${custom_options}
    }

}